@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-border {
    @apply relative border-2 border-transparent rounded-md;
  }
  
  .fade-border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    border: inherit;
    background: linear-gradient(45deg, #f3ec78, #af4261);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
            mask-composite: exclude;
  }